projects/text_to_speach/edge-tts/
/data/lab-python3/lab/projects/text_to_speach/tts/book_The_Phoenix_Project/audio/
python3/modules/__pycache__/
projects/photo_merge_app/photo_sync/
python3/modules/os/__pycache__/
.venv/
